/* /* font-family: 'DM Serif Display', serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Raleway', sans-serif; */
body {
    background-color:#000000;
   
}
 #boton {
    display: flex;
    flex-direction: row;
    margin-top: 4%;
 }

 #opciones {
    margin-left: 20%;
 }

h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 7vh;

}

h2 {  font-size: 3vh;
    margin-top: 6vh;
}

p {  font-size: 3vh;
}

ul {
        font-size: 5vh;
        margin-top: 6vh;
        font-family:'Raleway', sans-serif;
        list-style: none;
         color: darkgray;
}
.cajaForm {
    display: flex;
    flex-direction: row;
    align-items: baseline;

}
/* 
section .titulos {
    display: flex;
    flex-direction: row;

} */
header {
    font-family:'Raleway', sans-serif;
    /* display: flex;
    flex-direction: row; */
    color: darkgrey;
    margin-right: 5%;
    margin-left: 5%;
    
    
}

#h {
    margin-left: 40%;
}


/* label {
    font-family:'Raleway', sans-serif;
    color: darkgray;
} */

div .card-body {
    font-family:'Raleway', sans-serif;
    color: darkgray;

}

div .card-title {
    font-size: 4vh;
}


div .img-fluid {
    height: 100vh;
    
}

#listaCartas {
    display: grid;
    grid-template-columns: 1fr 1fr;
margin-left: 10%;
margin-top: 10%;
align-items: center;
}

button {
    border-radius: 15%;
    background-color:rgb(34, 32, 32);
    font-family:'Raleway', sans-serif ;
    font-size: 2vh;
    color: antiquewhite;
    height: 5vh;
}

input {
    width: 40vh;
}
#funcionIn {
    height: 20vh;
}

.swal2-popup {
    font-size: 2vh !important;
  }

  .swal2-title {
    font-family:'Raleway', sans-serif ;
}


form .find {
    display: flex;
    flex-direction: row;
}